/*** Navbar ***/
.navbar-default {
    background-color: #103D5C;
    border-radius: 0;
    background-image: none;
}

/* Navbar Title */
.navbar-default .navbar-brand {
    color: white;
    font-size: 20px;
    font-family: 'Halvetica';
    font-weight: bold;
}

/* Navbar hover effects */
.narvar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar .collapse navbar-collapse {
    color: black;
}

/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
    color: #fff;
}

.jumbotron {
    background-color: darkgrey;
    text-align: center;
    color: #fff;
    padding: 2%;
}

.jumbotron h2 {
    font-size: 36px;
    font-weight: bold;
}

body {
    padding-top: 50px;
    font-family: 'Halvetica';
    background-color: aliceblue;
    color: black;
}

p {
    font-size: 20px;
    color: black;
}

#about-world {
    max-height: 200px;
}
